---
layout: default
---

{% include nav.html %}

<!-- Page Content -->

<div id="home" class="container-fluid pl-5">
  <div class="row">
    <div class="col homeFeaturedText">
      {%include logo.html %}

      <p class="animated slideInRight">
        {{ site.shortTitle }} are an Independent Insurance Broker based in
        Belfast, Northern Ireland.
      </p>
    </div>

    <div class="col">
      <div class="featuredHomeImg animated fadeInUpBig delay-1s"></div>
    </div>
  </div>
</div>

{%include about.html %}
{%include policies.html %} 
{%include ourexperience.html %} 
{%include competitive.html %}

<footer style="position: fixed;bottom: 0;width: 100%;background: #fff;line-height: 22px;padding: 0;margin: 0;">
   <p style="text-align: center;margin: 0;padding: 9px;font-weight: 100;color: #9b8b34;"><strong>Authorised and regulated by the Financial Conduct Authority</strong>.</p>
 </footer>
