<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#home">HA Leslie & Co</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="btn btn-primary" href="#about" role="button">
            <i style="padding-right:10px;" class="fas fa-user-tie"></i> About Us</a>
     
      </li>
      <li class="nav-item">

           <a class="btn btn-primary" href="#policies" role="button">
<i style="padding-right:10px;" class="fas fa-pen-square"></i> Our Policies</a>

       
      <li class="nav-item">
  <a class="btn btn-primary" href="#experience" role="button">
      <i style="padding-right:10px;" class="fas fa-pen-square"></i> Our Experience</a>
</li>

  <li class="nav-item">
  <a class="btn btn-primary" href="#team" role="button">
      <i style="padding-right:10px;" class="fas fa-user-tie"></i> Our Advisors</a>
</li>


    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
           <button type="button" class="btn btn-primary btn-light" data-toggle="modal" data-target="#Coronavirus-Emergency">
<i style="padding-right:10px;" class="fas fa-external-link-alt"></i>   Arrangements during Coronavirus Emergency
          
</button>
      </li>
      <li class="nav-item">

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contact">
<i style="padding-right:10px;" class="far fa-envelope"></i> Contact
          us
</button>

      
      </li>
    </ul>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">HA Leslie & Co</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<div class="row">

<div class="col">
<h4 style="color:#2c45c5;">5 Crescent Gardens <br> Belfast - BT7 1NS</h4>        
<h4> <i class="fas fa-phone-volume"></i> 028 90 32 38 55</h4>
</div>  

<div class="col">
<h4 style="color:#2c45c5;">Claims Notification outside office hours</h4> 
<h4><i class="fas fa-phone-volume"></i> 07852 100 861</h4>
</div>  

</div>



      </div>
      <div class="modal-footer">
            <span style="font-weight: 500;padding-right: 0px;font-size: 15px;color: #635618;">Authorised and regulated by the Financial Conduct Authority.</span>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Coronavirus-Emergency" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">HA Leslie & Co</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<div class="row">

<div class="col">
<h4 class="m-0 text-center" style="color: #695c17;">The H A Leslie & Co Office remains open. You can contact us on the following numbers.</h4>
</div>



</div>

<hr>

<div class="row">
<div class="col m-2">
<h5>Personal Lines – Motor, Home & Travel</h5>
</div>
<div class="col m-2">
<p class="m-0">Tel : 07783 649266</p>  
<p class="m-0">E Mail : <a href="amcanee@haleslie.co.uk">amcanee@haleslie.co.uk</a></p>
</div>
</div>

<div class="row">

<div class="col m-2">
<h5>  Playgroups, Education & Ecclesiastical</h5>
</div>

<div class="col m-2">
  <p class="m-0">Tel : 07783 649265</p> 
  <p class="m-0">E Mail : <a href="mailto:jentwistle@haleslie.co.uk">jentwistle@haleslie.co.uk</a></p>
</div>  

</div> 


 
 

<div class="row">

<div class="col m-2">
 <h5> Commercial, Contract Works and Minibus</h5>
</div>

<div class="col m-2">
 <p class="m-0">Tel :  07783 649305</p> 
 <p class="m-0">E Mail : <a href="mailto:kmcclean@haleslie.co.uk">kmcclean@haleslie.co.uk</a></p>
</div>  

</div> 

 

<div class="row">

<div class="col m-2">
 <h5>Accounts</h5>
</div>

<div class="col m-2">
 <p class="m-0">Tel :  07739 575 200</p> 
 <p class="m-0">E Mail : <a href="mailto:zmcanee@haleslie.co.uk">zmcanee@haleslie.co.uk</a></p>
</div>  

</div> 

 


<div class="row">

<div class="col m-2">
 <h5> Claims (including out of hours emergency claims)</h5>
</div>

<div class="col m-2">
 <p class="m-0">Tel :  07852 100 861 </p>
<p class="m-0">E Mail : <a href="mailto:smcanee@haleslie.co.uk">smcanee@haleslie.co.uk</a></p>
</div>  

</div> 

 


<div class="row">

<div class="col m-2">
 <h5> Office</h5>
</div>

<div class="col m-2">
 <p class="m-0">Tel :  028 90 32 38 55 </p> 
 <p class="m-0">E Mail : <a href="mailto:info@haleslie.co.uk">info@haleslie.co.uk></a></p>
</div>  

</div> 





      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>