<div id="parallax">


  <section>
    <div  id="experience" class="parallax-two">
        <h2>Our experience</h2>

      <h3>All our advisors hold Professional Insurance qualifications. We are all members of the Chartered Insurance Institute and are CII Certificate qualified and above.</h3>

<h4><i class="fas fa-chevron-down"></i></h4>
    </div>
  </section>

  <div class="container-fluid about p-5">
    <div class="card-deck">

      <div class="card">
          <div class="hovereffect">
        <img src="../images/our-experience-02.jpg" class="card-img-top" alt="Rolex Clock" />
        <div class="overlay">
            <h2>Stephen McAnee BSSc MBA ACII</h2>
         </div>
          </div>
        <div class="card-body">
          <h5 class="card-title">Stephen McAnee BSSc MBA ACII</h5>

          <p class="card-text">
              <small class="text-muted"></small>
             <strong>{{ site.title }}</strong><br />
              <a href="">{{ site.email }}</a> <br />
              <strong>{{ site.phone }}</strong>
            </small>
          </p>
        </div>
      </div>
      <div class="card">
          <div class="hovereffect">
        <img src="../images/our-experience-01.jpg" class="card-img-top" alt="Belfast Clock" />
        <div class="overlay">
            <h2>Kieran McClean Cert CII</h2>
         </div>
          </div>
        <div class="card-body">
          <h5 class="card-title">Kieran McClean Cert CII</h5>

          <p class="card-text">
              <small class="text-muted"></small>
             <strong>{{ site.title }}</strong><br />
              <a href="">{{ site.email }}</a> <br />
              <strong>{{ site.phone }}</strong>
            </small>
          </p>
        </div>
      </div>

      <div class="card">
            <div class="hovereffect">
            <img src="../images/our-experience-03.jpg" class="card-img-top" alt="Botanic Gardens" />
            <div class="overlay">
              <h2>Jacqueline Entwistle B A Hons FCII MCIM</h2>
           </div>
          </div>
            <div class="card-body">
              <h5 class="card-title">Jacqueline Entwistle B A Hons FCII MCIM</h5>

              <p class="card-text">
                          <small class="text-muted"></small>
               <strong>{{ site.title }}</strong><br />
                <a href="">{{ site.email }}</a> <br />
                <strong>{{ site.phone }}</strong>
              </small>
              </p>
            </div>
          </div>

          <div class="card">
                <div class="hovereffect">
                <img src="../images/our-experience-04.jpg" class="card-img-top" alt="Botanic Gardens" />
                <div class="overlay">
                  <h2>William Watterson Cert CII</h2>
               </div>
              </div>
                <div class="card-body">
                  <h5 class="card-title">William Watterson Cert CII</h5>

                  <p class="card-text">
                              <small class="text-muted"></small>
                   <strong>{{ site.title }}</strong><br />
                    <a href="">{{ site.email }}</a> <br />
                    <strong>{{ site.phone }}</strong>
                  </small>
                  </p>
                </div>
              </div>

    </div>
  </div>


    </div>
</div>
