
      <section>
        <div class="parallax-two">
            <h2>Our Experience</h2>
            <h3> All Our advisors hold Professional Insurance qualifications. We are all members of the Charterd Insurance Institude and are CLL Certificate qualified and above.</h3>
        </div>
      </section>

      <div class="container">

      <section>

    <div class="card-deck">

        <div class="card">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">

            <h5 class="card-title">No Matter When</h5>
            <p class="card-text">
              We understand that your business may not always be 9-5. That is why
              at
              {{ site.shortTitle }} we will be there for you and your Insurance
              needs when you need us.
            </p>
            <p class="card-text">
                <small class="text-muted"></small>
                {{ site.title }}<br />
                <a href="">{{ site.email }}</a>
                <strong>{{ site.phone }}</strong>
              </small>
            </p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Personal Service</h5>
            <p class="card-text">
              We believe business relationships are like any other. This is why we
              are always available to meet in person at a location that suits you,
              or via the telephone and email.
            </p>
            <p class="card-text">
                <small class="text-muted"></small>
                {{ site.title }}<br />
                <a href="">{{ site.email }}</a>
                <strong>{{ site.phone }}</strong>
              </small>
            </p>
          </div>
        </div>
      </div>
      </section>

      </div>

      <section>
        <div class="parallax-three">
            <h2>Our Experience</h2>

            <h3> All Our advisors hold Professional Insurance qualifications. We are all members of the Charterd Insurance Institude and are CLL Certificate qualified and above.</h3>
        </div>
      </section>

      <div class="container">

      <section>
        <div class="block">
          <p>
            <span class="first-character atw">W</span>hen the New York fashion
            community notices your brand, the world soon follows. The widespread
            love for UGG extended to Europe in the mid-2000's along with the
            stylish casual movement and demand for premium casual fashion. UGG
            boots and shoes were now seen walking the streets of London, Paris
            and Amsterdam with regularity. To meet the rising demand from new
            fans, UGG opened flagship stores in the UK and an additional
            location in Moscow. As the love spread farther East, concept stores
            were opened in Beijing, Shanghai and Tokyo. UGG Australia is now an
            international brand that is loved by all. This love is a result of a
            magical combination of the amazing functional benefits of sheepskin
            and the heightened emotional feeling you get when you slip them on
            your feet. In short, you just feel better all over when you wear UGG
            boots, slippers, and shoes.
          </p>
          <p class="line-break margin-top-10"></p>
          <p class="margin-top-10">
            In 2011, UGG will go back to its roots and focus on bringing the
            active men that brought the brand to life back with new styles
            allowing them to love the brand again as well. Partnering with Super
            Bowl champion and NFL MVP Tom Brady, UGG will invite even more men
            to feel the love the rest of the world knows so well. UGG will also
            step into the world of high fashion with UGG Collection. The UGG
            Collection fuses the timeless craft of Italian shoemaking with the
            reliable magic of sheepskin, bringing the luxurious feel of UGG to
            high end fashion. As the love for UGG continues to spread across the
            world, we have continued to offer new and unexpected ways to
            experience the brand. The UGG journey continues on and the love for
            UGG continues to spread.
          </p>
        </div>
      </section>

      </div>

    </div>
  </div>
</div>
